### Basics

In [1]:
print('hello /n world')

hello /n world

In [2]:
print('hello\nworld')

hello
world

In [3]:
print(100+34)

134

In [4]:
x=10
y='hello'
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [6]:
#single line comment
"""multi line 
comment """

'multi line \ncomment '

In [14]:
weather='sunny'
if weather=='sunny':
    print('its a sunny day')
else:
    print('haha loser')

its a sunny day

In [15]:
my_string=("capital of %s is %s"%("india","delhi"))
print(my_string)

capital of india is delhi

In [17]:
my_string2="capital of {} is {} at coordinates {},{}".format("India","delhi",77.4,69.420)
print(my_string2)

capital of India is delhi at coordinates 77.4,69.42

In [20]:
#end tells us how we are gonna end the line
print("so",end="!")
print("sad")

so!sad

In [21]:
#sep tells how individual strings will be separated
print("a","b","abcd",sep="\n")

a
b
abcd

In [6]:
name=input()
print("hello "+ name)

suchika
hello suchika

In [7]:
print(type(name))

<class 'str'>

In [8]:
age=input()
print(age)

15
15

In [9]:
age=int(age)
print(type(age))

<class 'int'>

In [10]:
print(age)

15

In [11]:
number=int(input())
print(number)
print(type(number))

15
15
<class 'int'>

In [12]:
"10 20 30 40".split()

['10', '20', '30', '40']

In [15]:
l="10 20 30 40".split()
print(l)

['10', '20', '30', '40']

In [16]:
numbers=[int(x) for x in l]
print(numbers)

[10, 20, 30, 40]

In [17]:
numbers=[int(x) for x in input().split()]
print(numbers)

1 2 3 4 5
[1, 2, 3, 4, 5]

In [19]:
#operators
a=4
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b) #power
print(a//b) #floor function gives rounded off values after division
print(a%b)

7
1
12
1.3333333333333333
64
1
1

In [24]:
a=3
a+=1 #similar way for all other functions
print(a)

4

In [28]:
#logical operators and,or & not
weather="sunny"
temp=30
if not weather=="sunny" and temp>=30:
    print("loser weather")
elif weather=="sunny" or temp==50:
    print("okay go out and have fun")

okay go out and have fun

In [29]:
#program to calculate area and perimeter of rectangle
l=int(input())
b=int(input())
area=l*b
perm=2*(l+b)

print("area {},perimeter {}".format(area,perm))

20
30
area 600,perimeter 100

In [30]:
#loops
i=1
while(i<=10):
    print("step %d"%i)
    i+=1
print("end of loop")

step 1
step 2
step 3
step 4
step 5
step 6
step 7
step 8
step 9
step 10
end of loop

In [31]:
for i in range(1,11,2):       #range function has 3 parameter(s,e+1,increment)
    print(i,end=",")

1,3,5,7,9,

In [32]:
#program to find factorial of a number
no=int(input())
ans=1
for i in range(1,no+1):
    ans*=i
print(ans)

5
120

In [33]:
for i in range(10,1,-2):
    print(i,end=",")

10,8,6,4,2,

In [37]:
n=5
for x in range(n):
    for y in range(n):
        print(max(x-1,y-1,n-x,n-y),end=" ")
    print()

5 5 5 5 5
5 4 4 4 4
5 4 3 3 3
5 4 3 2 3
5 4 3 3 3

In [39]:
#pass , break and continue statements
for i in range(1,10):
    if(i==5):
        pass       #condition is skipped
    print(i)

1
2
3
4
5
6
7
8
9

In [40]:
for i in range(1,10):
    if(i==5):
        break       #loop is terminated
    print(i)

1
2
3
4

In [42]:
for i in range(1,10):
    if(i==5):
        continue       #loop is skipped for specific condition
    print(i)

1
2
3
4
6
7
8
9

In [48]:
#keyword arguements
def myfunc(score,language,rollno):
    print("I scored %d in %s"%(score,language))
    print(rollno)
    

myfunc(language="c++",rollno=5,score=97) #when we dont remember order of arguements

I scored 97 in c++
5

### Strings

In [50]:
a="so sad"
print(a[1])
print(a[-1])
print(a[-2])

o
d
a

In [53]:
#strings are not mutabale but we can make one string point to another
#a[2]='e' not possible
a="so so sad"     #possible
print(a)

so so sad

In [56]:
for i in range(len(a)):
    print(a[i])

s
o

s
o

s
a
d

In [57]:
for c in a:
    print(c)

s
o

s
o

s
a
d

In [58]:
a="sad"
b="so"
print(b+a)
print(a*5)

sosad
sadsadsadsadsad

In [62]:
#slicing
a="ghumne jana hai"
print(a[1:8])
a[1:-2]

'humne jana h'

In [65]:
#membership - to check if particular substring is present in string or not
a="life"

'ghumna' in a

False

In [2]:
print("my fav place is %s bcoz of the amazing %s" %("GOA","BEACHES"))

my fav place is GOA bcoz of the amazing BEACHES

In [3]:
para="""this is
some paragraph
written here"""

In [5]:
l=para.split()
print(l)
print(type(l))
print(type(l[0]))

['this', 'is', 'some', 'paragraph', 'written', 'here']
<class 'list'>
<class 'str'>

In [10]:
line=para.splitlines()
print(line)

['this is', 'some paragraph', 'written here']

In [12]:
fruit="mango"
fruit=fruit.upper()
print(fruit)
fruit=fruit.lower()
print(fruit)

MANGO
mango

In [14]:
shake="     apple shake     "
print(shake)
print(len(shake))

shake=shake.lstrip()   #to remove strating spaces
print(shake)
print(len(shake))

shake=shake.rstrip()    #to remove ending spaces
print(shake)
print(len(shake))

     apple shake
21
apple shake
16
apple shake
11

In [17]:
P="    APPLE PANCAKES    "
print(len(P))
P=P.strip()         #to remove both starting and ending spaces
print(P)
print(len(P))

22
APPLE PANCAKES
14

In [18]:
a="123"
a.isdigit()

True

In [20]:
a="sosad"
a.isalpha()

True

In [21]:
a="123sosad"
a.isalnum()

True

In [22]:
a="    "
a.isspace()

True

In [26]:
a="i love banana pancakes with fresh banana in it"
print(a.find("banana",30,len(a)))
print(a.find("banana"))
print(a.rfind("banana"))

print(a.index("banana",30,len(a)))

34
7
34
34

In [28]:
a=a.replace("banana","apple")
print(a)

i love apple pancakes with fresh apple in it

In [29]:
a.count("apple")

2

In [30]:
l=a.split()
print(l)

['i', 'love', 'apple', 'pancakes', 'with', 'fresh', 'apple', 'in', 'it']

In [31]:
"-".join(l)

'i-love-apple-pancakes-with-fresh-apple-in-it'

In [32]:
b=" hi "
b.join(l)

'i hi love hi apple hi pancakes hi with hi fresh hi apple hi in hi it'

In [33]:
p="banana pancakes"
print(p.capitalize())
print(p.title())

Banana pancakes
Banana Pancakes

In [36]:
#lists
mylist=[1,2,3,"apple",[1.0,2.0]]
print(mylist[3])
print(type(mylist))

apple
<class 'list'>

In [46]:
l1=list([1,2,3])
print(l1)

l1.append(2)
print(l1)

l1.append([1.0,2.3])
print(l1)

l2=list([1,2,3])
l1=l1+l2
print(l1)

l1.extend(l2)
print(l1)

[1, 2, 3]
[1, 2, 3, 2]
[1, 2, 3, 2, [1.0, 2.3]]
[1, 2, 3, 2, [1.0, 2.3], 1, 2, 3]
[1, 2, 3, 2, [1.0, 2.3], 1, 2, 3, 1, 2, 3]
[1, 2, 3, 2, [1.0, 2.3], 1, 2, 3, 1, 2, 3, 2]

In [47]:
l4=[ i*i for i in range(1,6)]
print(l4)

[1, 4, 9, 16, 25]

In [48]:
#list slicing
print(l4[0:3])
print(l4[-3:])

[1, 4, 9]
[9, 16, 25]

In [50]:
l4.remove(4)
print(l4)

l4.pop()
print(l4)

del l4[1]
print(l4)

[1, 9, 16, 25]
[1, 9, 16]
[1, 16]

In [52]:
l=list([1,2,3])
l*=4
print(l)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [54]:
l=[1,2,"apple","mango","546"]
'apple' in l

True

In [56]:
l=[1,2,3,4,5,67,7,2,3,4]
l.insert(3,99)
print(l)

[1, 2, 3, 99, 4, 5, 67, 7, 2, 3, 4]

In [58]:
l=[1,5,3,4,56]
print(max(l))
print(min(l))
print(l.index(5))   #linear search

56
1
1

In [60]:
l=[5,2,7,3,9,5,2,9]
sorted(l)

[2, 2, 3, 5, 5, 7, 9, 9]

In [61]:
print(l)

[5, 2, 7, 3, 9, 5, 2, 9]

In [63]:
l=sorted(l)
print(l)

[2, 2, 3, 5, 5, 7, 9, 9]

In [70]:
l=[0,7,4,6,2,8,4,9]
l.sort()
print(l)

l.sort(reverse=True)
print(l)

[0, 2, 4, 4, 6, 7, 8, 9]
[9, 8, 7, 6, 4, 4, 2, 0]

In [66]:
numbers=[int(x) for x in input().split()]
print(type(numbers))
print(numbers)

2 3 5 6 7
<class 'list'>
[2, 3, 5, 6, 7]

Dictionaries

In [4]:
d={"apple":100,"mango":180}
print(d["apple"]);

print(d.get("mangoes"))    #none-type will be assigned
print(d.get("mango"))

100
None
180

In [6]:
d["pineapple"]=270
d["guava"]=[20,30]
d["grape"]={"red":50,"green":70}

print(d)
print(d["guava"])
print(d["grape"]["red"])

{'apple': 100, 'mango': 180, 'pineapple': 270, 'guava': [20, 30], 'grape': {'red': 50, 'green': 70}}
[20, 30]
50

In [7]:
print(d.keys())

dict_keys(['apple', 'mango', 'pineapple', 'guava', 'grape'])

In [8]:
print(d.values())

dict_values([100, 180, 270, [20, 30], {'red': 50, 'green': 70}])

In [9]:
l=d.items()       #item() returns a list of tuples
print(l);

dict_items([('apple', 100), ('mango', 180), ('pineapple', 270), ('guava', [20, 30]), ('grape', {'red': 50, 'green': 70})])

In [10]:
del d["pineapple"]
print(d)

{'apple': 100, 'mango': 180, 'guava': [20, 30], 'grape': {'red': 50, 'green': 70}}

In [13]:
if "mango" in d:
    print("mango shake")
else:
    print("oh no")

mango shake

In [14]:
d2={"berries":90}

d.update(d2)          #to merge two dictionaries
print(d)

{'apple': 100, 'mango': 180, 'guava': [20, 30], 'grape': {'red': 50, 'green': 70}, 'berries': 90}

In [16]:
print(len(d))
d.clear()       #clears everything from dictionary
print(len(d))

5
0

In [17]:
#to convert 2 lists to dictionary
l1={"apple","mango","banana","grapes"}
l2={120,50,30,70}

p=dict(zip(l1,l2))
print(p)
print(type(p))

{'grapes': 120, 'mango': 70, 'banana': 50, 'apple': 30}
<class 'dict'>

In [18]:
for k in p:
    print(k)

grapes
mango
banana
apple

In [20]:
for k in p.values():
    print(k)

120
70
50
30

Tuples

In [23]:
#collection of obejects, are immutable(values cannot be changes)
t=(1,2,4,"hello")
print(t)

#t[0]=2        not possible

(1, 2, 4, 'hello')

In [24]:
l=list(t)
print(l)

[1, 2, 4, 'hello']

In [28]:
t2=tuple(l)
print(t2)

(1, 2, 4, 'hello')

In [29]:
#concatenation
print(t2+t)

#repetition
print(t2*3)

(1, 2, 4, 'hello', 1, 2, 4, 'hello')
(1, 2, 4, 'hello', 1, 2, 4, 'hello', 1, 2, 4, 'hello')

In [30]:
t=(1,44,32,69)
print(max(t))
print(min(t))

69
1

In [38]:
print("hello") 
del t

hello

NameError: name 't' is not defined

Sets

In [40]:
s1=set([1,2,3,2,1,6,7,1,2,6])
print(s1)

{1, 2, 3, 6, 7}

In [41]:
s2={1,4,2,3,6,1,2}        #only unique elements are present
print(s2)

{1, 2, 3, 4, 6}

In [43]:
print(s1.union(s2))
print(s1|s2)

{1, 2, 3, 4, 6, 7}
{1, 2, 3, 4, 6, 7}

In [44]:
print(s1.intersection(s2))
print(s1 & s2)

{1, 2, 3, 6}
{1, 2, 3, 6}

In [45]:
print(s1-s2)

{7}

In [47]:
s2.add(69)
print(s2)

{1, 2, 3, 4, 69, 6}

In [48]:
a1={1,2,3,4}
a2={3,4,5,6}

print(a1^a2)      #only prints those elements which are there in either of the two sets

{1, 2, 5, 6}

In [49]:
s1.clear()      #gives empty set
print(s1)

set()

FUNCTIONS IN PYTHON

In [50]:
def sheldon_knock(name,no_of_times=3):
    for i in range(no_of_times):
        print("knock knock knock {}".format(name))

In [52]:
sheldon_knock("penny")
print('\n')
sheldon_knock("suchi",4)

knock knock knock penny
knock knock knock penny
knock knock knock penny


knock knock knock suchi
knock knock knock suchi
knock knock knock suchi
knock knock knock suchi

In [55]:
x=5
def add(a=5,b=7):
    global x
    x+=5
    return (a+b)

In [57]:
sum=add()
print(sum)
print(x)

12
15

In [60]:
#nesting of funtions

def outer():
    x=5
    def inner():
        nonlocal x      #so that it searches for x in fuction block and not globally
        x+=9
        
    inner()
    return x

In [61]:
outer()

14

In [65]:
#Keyword Arguements

def show(a,b,c,d=10):
    print(a,b,c,d)

In [66]:
show(10,23,45,1)
show(10,23,45)
show(b=0,a=9,c=6)

10 23 45 1
10 23 45 10
9 0 6 10

In [68]:
#a,b,c are required positional arguements
# args are NOT POINTERS , they are packed positional arguements
#d,e are default arguements and kwargs are packed default arguements

def show(a,b,c,*args,d=10,e=5,**kwargs):
    print(a,b,c)
    print(args)
    print(d,e)
    print(kwargs)

In [71]:
show(1,2,3,"suchika","sachdeva",d=78,f=43,hello="world")

1 2 3
('suchika', 'sachdeva')
78 5
{'f': 43, 'hello': 'world'}

LAMBDA FUNCTIONS- ONE LINE FUNCTIONS

In [75]:
add=lambda a,b:a+b

In [76]:
add(5,6)

11

In [81]:
a=[("puchisi",14),("nuhasi",3),("bhalu",4),("sakeena",1)]
sorted(a)                    #sorted according to names

[('bhalu', 4), ('nuhasi', 3), ('puchisi', 14), ('sakeena', 1)]

In [82]:
sorted(a,key=lambda x : x[1])                  #sorted according to numbers

[('sakeena', 1), ('nuhasi', 3), ('bhalu', 4), ('puchisi', 14)]

Decorators in python

In [83]:
users={"suchika":"12345","suhani":"hello","sam":"bhalu"}

In [96]:
def login_required(func):
    def wrapper(username,password,*args,**kwargs):
        if username in users and users[username]==password:
            #user authenticated
            func(*args,**kwargs)
        else:
            print("Not authenticated!!")
    return wrapper

In [104]:
#def add(a,b):
#   print(a+b)
#add=login_required(add)             both works the same way

@login_required
def add(a,b):
    print (a+b)

In [105]:
add("suchika","12345",2,5)

7

In [106]:
add("suchika","123456",2,5)

Not authenticated!!

GENERATORS

In [1]:
def fib():
    prev,curr=0,1
    while True:
        yield curr
        prev,curr=curr, prev+curr

In [3]:
print(type(fib()))
print(type(fib))

<class 'generator'>
<class 'function'>

In [9]:
gen=fib()

In [13]:
next(gen)

3

In [14]:
gen=(x**2 for x in range(1,11))

In [17]:
next(gen)

9